.contenedor-cuadrados {
  padding: 15px;
  background: rgba(85, 85, 246, 0.444);
  border-radius: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.division-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.boton-Inferior span {
  color: white;
  font-weight: 600;
  font-size: larger;
}
.boton-Inferior {
  border-radius: 24px 0 24px 0;
  margin-top: 20px;
  width: 150px;
  height: 70px;
  background: rgb(5, 5, 22);
  z-index: 6;
  --border-width: 5px;
  appearance: none;
  position: relative;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-Inferior::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px 0 24px 0;
  padding: var(--border-width);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.boton-Inferior:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.boton-Inferior,
.boton-Inferior::after {
  box-sizing: border-box;
}

.boton-Inferior:active {
  --border-width: 5px;
}
